<h2>Reset Password</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPhone" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Confirm Email">
    </div>
    <div class="form-group">
        <span (click)="updateDetails()">Submit!</span>
    </div>
    <div class="form-group go-back">
        <span [routerLink]="['/login']">Go back</span>
    </div>
</form>