$xxs-width: 500px;
$xs-width: 768px;
$lg-width: 1200px;

@mixin xxs-width-max {
    @media (max-width: #{$xxs-width}) {
        @content;
    }
}

@mixin xs-width-max {
    @media (max-width: #{$xs-width}) {
        @content;
    }
}

@mixin lg-width-max {
    @media (max-width: #{$lg-width}) {
        @content;
    }
}

h2 {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    @include xs-width-max {
        margin-top: 20px;
    }
}

form {
    text-align: center;
    margin-top: 50px;

    @include xs-width-max {
        margin-top: 20px;
    }
    
    div.form-group * {
        display: block;
        margin: 20px auto;
        height: 40px;
        border-radius: 20px;
    }

    div.form-group p {
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        height: fit-content;
        font-size: 12px;
        font-style: italic;
    }

    div.form-group input{
        width: 400px;
        font-size: 15px;
        text-align: center;
        color: #313B45;

        @include xxs-width-max {
            width: 80%;
        }
    }

    div.form-group input::placeholder{
        font-size: 13px;
        font-style: italic;
        text-transform: uppercase;
    }

    div.form-group span {
        text-align: center;
        padding-top: 8px;
        color: #FFFFFF;
        background-color: #ACD18F;
        border: none;
        width: 400px;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        user-select: none;
        cursor: pointer;

        @include xxs-width-max {
            width: 80%;
        }
    }

    div.form-group.go-back span {
        margin-top: 50px;
        background-color: #E17272;
        width: 250px;

        @include xxs-width-max {
            margin-top: 30px;
            width: 50%;
        }
    }
}

form#user-info {
    position: absolute;
    margin: 250px 0px 0px 100px;
    top: 0;
    left: 0;

    @include lg-width-max {
        position: static;
        margin: 20px auto;
    }
    
    span#circle-user-icon {
        padding: 20px;
        display: block;
        height: fit-content;
        width: fit-content;
        background-color: #707882;
        border-radius: 50%;

        @include lg-width-max {
            margin: 20px auto 0 auto;
        }

        img {
            margin: 0;
            width: 50px;
            height: 50px;
        }
    }

    strong {
        font-size: 14px;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        height: fit-content;
    }

    div.form-group input{
        width: 200px;

        @include xxs-width-max {
            width: 40%;
        }
    }
}
