<form>
    <div class="form-group">
        <input type="text" class="form-control" id="inputContractorID" placeholder="Enter ID">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="inputContractorPassword" placeholder="Enter Password">
    </div>
    <div id="forgot"><a [routerLink]="['../../reset-password']">Forgot Password?</a></div>
    <div class="form-group">
        <span class="btn btn-primary" (click)="loginContractor()">Log In</span>
    </div>
</form>
