<h2>Fill in resident details</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <span (click)="addResident()">Add resident!</span>
    </div>
    <div class="form-group go-back">
        <span [routerLink]="['../resident-view']">Go back</span>
    </div>
</form>
