<h2>Please fill in your info</h2>

<form>
    <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputResidentFirstName" placeholder="Resident First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputResidentLastName" placeholder="Resident Last Name">
    </div>
    <div class="form-group">
        <span (click)="register()">Register!</span>
    </div>
    <div class="form-group go-back">
        <span [routerLink]="['../login/login-v']">Go back</span>
    </div>
</form>
