<div id="qr-container">
    <canvas id="qrcode"></canvas>
    <div class="div-btn div-btn-danger"><span (click)="toggleQRCode(false)">Close</span></div>
</div>

<form id="user-info">
    <span id="circle-user-icon"><img src="/assets/img/user-icon.png"></span>
    <div class="div-btn div-btn-qr"><span (click)="toggleQRCode(true)">QR Code</span></div>
    <div class="div-btn div-btn-primary"><span [routerLink]="['../update']">Account</span></div>
    <div class="div-btn div-btn-danger"><span (click)="logOut()">Log out</span></div>
</form>

<section id="list">
    <div id="list-main">
        <h1>Welcome</h1>
        <div id="list-span-nav">
            <div class="container">
                <div class="row">
                    <a id="span-booking" class="span-nav col-6">
                        <span>All Bookings</span>
                    </a>
                    <a id="span-resident" class="span-nav col-6" [routerLink]="['../resident-view']">
                        <span>Approved Residents</span>
                    </a>
                </div>
            </div>
        </div>

        <table id="item-list-xs" class="item-list d-sm-none">
            <tr id="item-1-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-1"></strong>
                    <p id="booking-details-1"></p>
                </td>
            </tr>
            <tr id="item-1-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-2-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-2"></strong>
                    <p id="booking-details-2"></p>
                </td>
            </tr>
            <tr id="item-2-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-3-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-3"></strong>
                    <p id="booking-details-3"></p>
                </td>
            </tr>
            <tr id="item-3-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-4-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-4"></strong>
                    <p id="booking-details-4"></p>
                </td>
            </tr>
            <tr id="item-4-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-5-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-5"></strong>
                    <p id="booking-details-5"></p>
                </td>
            </tr>
            <tr id="item-5-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-6-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-6"></strong>
                    <p id="booking-details-6"></p>
                </td>
            </tr>
            <tr id="item-6-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-7-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-7"></strong>
                    <p id="booking-details-7"></p>
                </td>
            </tr>
            <tr id="item-7-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-8-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <strong id="booking-status-8"></strong>
                    <p id="booking-details-8"></p>
                </td>
            </tr>
            <tr id="item-8-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
        </table>
        
        <table id="item-list-lg" class="item-list d-none d-sm-table">
            <tr id="item-1" class="item">
                <td class="td-text">
                    <strong id="booking-status-1"></strong>
                    <p id="booking-details-1"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-2" class="item">
                <td class="td-text">
                    <strong id="booking-status-2"></strong>
                    <p id="booking-details-2"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-3" class="item">
                <td class="td-text">
                    <strong id="booking-status-3"></strong>
                    <p id="booking-details-3"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-4" class="item">
                <td class="td-text">
                    <strong id="booking-status-4"></strong>
                    <p id="booking-details-4"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-5" class="item">
                <td class="td-text">
                    <strong id="booking-status-5"></strong>
                    <p id="booking-details-5"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-6" class="item">
                <td class="td-text">
                    <strong id="booking-status-6"></strong>
                    <p id="booking-details-6"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-7" class="item">
                <td class="td-text">
                    <strong id="booking-status-7"></strong>
                    <p id="booking-details-7"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
            <tr id="item-8" class="item">
                <td class="td-text">
                    <strong id="booking-status-8"></strong>
                    <p id="booking-details-8"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Modify</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Cancel</span>
                </td>
            </tr>
        </table>
        <div id="list-page">
            <div id="pages">
                <!--Inserted spans-->
            </div>
            <strong>Page</strong>
        </div>
    </div>
</section>
