<section id="staff-headings">
    <span id="current-visitors">
        <strong id="current-visitors-num"></strong>
        <p>Current<br>visitors</p>
    </span>
    <div id="quick-fb">
        <strong>Quick<br>feedback</strong>
        <div id="fb-faces">
            <span id="rating-5" class="rating-span">
                <img src="/assets/img/fb-rating/5.png">
                <b id="rating-num-5"></b>
            </span>
            <span id="rating-4" class="rating-span">
                <img src="/assets/img/fb-rating/4.png">
                <b id="rating-num-4"></b>
            </span>
            <span id="rating-3" class="rating-span">
                <img src="/assets/img/fb-rating/3.png">
                <b id="rating-num-3"></b>
            </span>
            <span id="rating-2" class="rating-span">
                <img src="/assets/img/fb-rating/2.png">
                <b id="rating-num-2"></b>
            </span>
            <span id="rating-1" class="rating-span">
                <img src="/assets/img/fb-rating/1.png">
                <b id="rating-num-1"></b>
            </span>
        </div>
        <p>Current<br>week</p>
    </div>
</section>

<section id="list">
    <div id="list-main">
        <h1>Feedback</h1>

        <table id="item-list-xs" class="item-list d-sm-none">
            <tr id="item-1-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-1"></p>
                </td>
            </tr>
            <tr id="item-1-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-1"></p>
                </td>
            </tr>
            <tr id="item-1-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-1"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-1"></p>
                </td>
            </tr>
            <tr id="item-1-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-1">View</span>
                </td>
            </tr>
            <tr id="item-2-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-2"></p>
                </td>
            </tr>
            <tr id="item-2-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-2"></p>
                </td>
            </tr>
            <tr id="item-2-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-2"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-2"></p>
                </td>
            </tr>
            <tr id="item-2-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-2">View</span>
                </td>
            </tr>
            <tr id="item-3-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-3"></p>
                </td>
            </tr>
            <tr id="item-3-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-3"></p>
                </td>
            </tr>
            <tr id="item-3-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-3"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-3"></p>
                </td>
            </tr>
            <tr id="item-3-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-3">View</span>
                </td>
            </tr>
            <tr id="item-4-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-4"></p>
                </td>
            </tr>
            <tr id="item-4-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-4"></p>
                </td>
            </tr>
            <tr id="item-4-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-4"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-4"></p>
                </td>
            </tr>
            <tr id="item-4-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-4">View</span>
                </td>
            </tr>
            <tr id="item-5-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-5"></p>
                </td>
            </tr>
            <tr id="item-5-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-5"></p>
                </td>
            </tr>
            <tr id="item-5-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-5"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-5"></p>
                </td>
            </tr>
            <tr id="item-5-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-5">View</span>
                </td>
            </tr>
            <tr id="item-6-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-6"></p>
                </td>
            </tr>
            <tr id="item-6-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-6"></p>
                </td>
            </tr>
            <tr id="item-6-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-6"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-6"></p>
                </td>
            </tr>
            <tr id="item-6-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-6">View</span>
                </td>
            </tr>
            <tr id="item-7-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-7"></p>
                </td>
            </tr>
            <tr id="item-7-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-7"></p>
                </td>
            </tr>
            <tr id="item-7-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-7"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-7"></p>
                </td>
            </tr>
            <tr id="item-7-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-7">View</span>
                </td>
            </tr>
            <tr id="item-8-text-1" class="item">
                <td class="td-text cell-title" colspan="2">
                    <p id="title-8"></p>
                </td>
            </tr>
            <tr id="item-8-text-2" class="item">
                <td class="td-text cell-author" colspan="2">
                    <p id="author-8"></p>
                </td>
            </tr>
            <tr id="item-8-text-3" class="item">
                <td class="td-text cell-role">
                    <p id="role-8"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-8"></p>
                </td>
            </tr>
            <tr id="item-8-btn" class="item tr-btn">
                <td class="td-btn cell-btn" colspan="2">
                    <span id="view-8">View</span>
                </td>
            </tr>
        </table>
        
        <table id="item-list-lg" class="item-list d-none d-sm-table">
            <tr id="item-head" class="item">
                <th class="th-text cell-title">
                    <p>Title</p>
                </th>
                <th class="th-text cell-author">
                    <p>Author</p>
                </th>
                <th class="th-text cell-role">
                    <p>Role</p>
                </th>
                <th class="th-text cell-date">
                    <p>Date</p>
                </th>
                <th class="th-text cell-btn"></th>
            </tr>
            <tr id="item-1" class="item">
                <td class="td-text cell-title">
                    <p id="title-1"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-1"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-1"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-1"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-1">View</span>
                </td>
            </tr>
            <tr id="item-2" class="item">
                <td class="td-text cell-title">
                    <p id="title-2"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-2"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-2"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-2"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-2">View</span>
                </td>
            </tr>
            <tr id="item-3" class="item">
                <td class="td-text cell-title">
                    <p id="title-3"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-3"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-3"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-3"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-3">View</span>
                </td>
            </tr>
            <tr id="item-4" class="item">
                <td class="td-text cell-title">
                    <p id="title-4"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-4"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-4"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-4"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-4">View</span>
                </td>
            </tr>
            <tr id="item-5" class="item">
                <td class="td-text cell-title">
                    <p id="title-5"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-5"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-5"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-5"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-5">View</span>
                </td>
            </tr>
            <tr id="item-6" class="item">
                <td class="td-text cell-title">
                    <p id="title-6"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-6"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-6"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-6"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-6">View</span>
                </td>
            </tr>
            <tr id="item-7" class="item">
                <td class="td-text cell-title">
                    <p id="title-7"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-7"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-7"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-7"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-7">View</span>
                </td>
            </tr>
            <tr id="item-8" class="item">
                <td class="td-text cell-title">
                    <p id="title-8"></p>
                </td>
                <td class="td-text cell-author">
                    <p id="author-8"></p>
                </td>
                <td class="td-text cell-role">
                    <p id="role-8"></p>
                </td>
                <td class="td-text cell-date">
                    <p id="date-8"></p>
                </td>
                <td class="td-btn cell-btn">
                    <span id="view-8">View</span>
                </td>
            </tr>
        </table>

        <div id="list-page">
            <div id="pages">
                <!--Inserted spans-->
            </div>
            <strong>Page</strong>
            <div class="div-btn div-btn-danger"><span [routerLink]="['../contractor-view']">Back</span></div>
        </div>
    </div>
</section>
