<section id="staff-headings">
    <form id="user-info">
        <span id="circle-user-icon"><img src="/assets/img/user-icon.png"></span>
        <div class="div-btn div-btn-danger"><span (click)="logOut()">Log out</span></div>
    </form>

    <section id="staff-utility">
        <span class="current" id="current-visitors" (click)="switchCurrentNum('contractors')">
            <strong class="current-num" id="current-visitors-num"></strong>
            <p>Current visitors</p>
        </span>
        <span class="current" id="current-contractors" (click)="switchCurrentNum('visitors')">
            <strong class="current-num" id="current-contractors-num"></strong>
            <p>Current contractors</p>
        </span>
        <div class="div-btn-feedback" [routerLink]="['../feedback']"><span>Feedback</span></div>
    </section>
</section>

<section id="list">
    <div id="list-main">
        <h1>Welcome</h1>
        <div id="list-span-nav">
            <div class="container">
                <div class="row">
                    <a id="span-contractor" class="span-nav col-md-3 col-6">
                        <span>Contractor</span>
                    </a>
                    <a id="span-staff" class="span-nav col-md-3 col-6" [routerLink]="['../staff-view']">
                        <span>Staff</span>
                    </a>
                    <a id="span-visitor" class="span-nav col-md-3 col-6" [routerLink]="['../visitor-view']">
                        <span>Visitor</span>
                    </a>
                    <a id="span-resident" class="span-nav col-md-3 col-6" [routerLink]="['../resident-view']">
                        <span>Resident</span>
                    </a>
                </div>
            </div>
        </div>

        <table id="item-list-xs" class="item-list d-sm-none">
            <tr id="item-1-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-1"></p>
                </td>
            </tr>
            <tr id="item-1-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-2-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-2"></p>
                </td>
            </tr>
            <tr id="item-2-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-3-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-3"></p>
                </td>
            </tr>
            <tr id="item-3-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-4-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-4"></p>
                </td>
            </tr>
            <tr id="item-4-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-5-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-5"></p>
                </td>
            </tr>
            <tr id="item-5-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-6-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-6"></p>
                </td>
            </tr>
            <tr id="item-6-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-7-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-7"></p>
                </td>
            </tr>
            <tr id="item-7-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-8-text" class="item tr-text">
                <td class="td-text" colspan="2">
                    <p id="contractor-name-8"></p>
                </td>
            </tr>
            <tr id="item-8-btn" class="item tr-btn">
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
        </table>
        
        <table id="item-list-lg" class="item-list d-none d-sm-table">
            <tr id="item-1" class="item">
                <td class="td-text">
                    <p id="contractor-name-1"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-2" class="item">
                <td class="td-text">
                    <p id="contractor-name-2"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-3" class="item">
                <td class="td-text">
                    <p id="contractor-name-3"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-4" class="item">
                <td class="td-text">
                    <p id="contractor-name-4"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-5" class="item">
                <td class="td-text">
                    <p id="contractor-name-5"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-6" class="item">
                <td class="td-text">
                    <p id="contractor-name-6"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-7" class="item">
                <td class="td-text">
                    <p id="contractor-name-7"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
            <tr id="item-8" class="item">
                <td class="td-text">
                    <p id="contractor-name-8"></p>
                </td>
                <td class="td-btn td-btn-primary">
                    <span>Update</span>
                </td>
                <td class="td-btn td-btn-danger">
                    <span>Delete</span>
                </td>
            </tr>
        </table>

        <div id="list-page">
            <div id="pages">
                <!--Inserted spans-->
            </div>
            <strong>Page</strong>
            <div class="div-btn-primary"><span [routerLink]="['../contractor-add']">Add new</span></div>
        </div>
    </div>
</section>
