<section id="staff-headings">
    <section id="staff-utility">
        <span class="current" id="current-visitors" (click)="switchCurrentNum('contractors')">
            <strong class="current-num" id="current-visitors-num"></strong>
            <p>Current visitors</p>
        </span>
        <span class="current" id="current-contractors" (click)="switchCurrentNum('visitors')">
            <strong class="current-num" id="current-contractors-num"></strong>
            <p>Current contractors</p>
        </span>
    </section>
</section>

<section id="list">
    <section id="list-weekly">
        <div id="list-main">
            <h1></h1>
            <div id="list-span-nav">
                <p id="p-day-0" class="p-date p-day">Sun</p>
                <p id="p-day-1" class="p-date p-day">Mon</p>
                <p id="p-day-2" class="p-date p-day">Tue</p>
                <p id="p-day-3" class="p-date p-day">Wed</p>
                <p id="p-day-4" class="p-date p-day">Thu</p>
                <p id="p-day-5" class="p-date p-day">Fri</p>
                <p id="p-day-6" class="p-date p-day">Sat</p>
            </div>

            <table id="item-list-xs" class="item-list d-sm-none">
                <tr class="item tr-text">
                    <td id="item-7" class="td-text">
                        <p id="hour-7">07:00</p>
                        <div id="task-div-7" class="task-div">
                            <span><p id="task-7"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-8" class="td-text">
                        <p id="hour-8">08:00</p>
                        <div id="task-div-8" class="task-div">
                            <span><p id="task-8"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-9" class="td-text">
                        <p id="hour-9">09:00</p>
                        <div id="task-div-9" class="task-div">
                            <span><p id="task-9"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-10" class="td-text">
                        <p id="hour-10">10:00</p>
                        <div id="task-div-10" class="task-div">
                            <span><p id="task-10"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-11" class="td-text">
                        <p id="hour-11">11:00</p>
                        <div id="task-div-11" class="task-div">
                            <span><p id="task-11"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-12" class="td-text">
                        <p id="hour-12">12:00</p>
                        <div id="task-div-12" class="task-div">
                            <span><p id="task-12"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-13" class="td-text">
                        <p id="hour-13">13:00</p>
                        <div id="task-div-13" class="task-div">
                            <span><p id="task-13"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-14" class="td-text">
                        <p id="hour-14">14:00</p>
                        <div id="task-div-14" class="task-div">
                            <span><p id="task-14"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-15" class="td-text">
                        <p id="hour-15">15:00</p>
                        <div id="task-div-15" class="task-div">
                            <span><p id="task-15"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-16" class="td-text">
                        <p id="hour-16">16:00</p>
                        <div id="task-div-16" class="task-div">
                            <span><p id="task-16"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-17" class="td-text">
                        <p id="hour-17">17:00</p>
                        <div id="task-div-17" class="task-div">
                            <span><p id="task-17"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-18" class="td-text">
                        <p id="hour-18">18:00</p>
                        <div id="task-div-18" class="task-div">
                            <span><p id="task-18"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-19" class="td-text">
                        <p id="hour-19">19:00</p>
                        <div id="task-div-19" class="task-div">
                            <span><p id="task-19"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-20" class="td-text">
                        <p id="hour-20">20:00</p>
                        <div id="task-div-20" class="task-div">
                            <span><p id="task-20"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-21" class="td-text">
                        <p id="hour-21">21:00</p>
                        <div id="task-div-21" class="task-div">
                            <span><p id="task-21"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-22" class="td-text">
                        <p id="hour-22">22:00</p>
                        <div id="task-div-22" class="task-div">
                            <span><p id="task-22"></p></span>
                        </div>
                    </td>
                </tr>
            </table>
            
            <table id="item-list-lg" class="item-list d-none d-sm-table">
                <tr class="item">
                    <td id="item-7" class="td-text">
                        <p id="hour-7">07:00</p>
                        <div id="task-div-7" class="task-div">
                            <span><p id="task-7"></p></span>
                        </div>
                    </td>
                    <td id="item-15" class="td-text">
                        <p id="hour-15">15:00</p>
                        <div id="task-div-15" class="task-div">
                            <span><p id="task-15"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-8" class="td-text">
                        <p id="hour-8">08:00</p>
                        <div id="task-div-8" class="task-div">
                            <span><p id="task-8"></p></span>
                        </div>
                    </td>
                    <td id="item-16" class="td-text">
                        <p id="hour-16">16:00</p>
                        <div id="task-div-16" class="task-div">
                            <span><p id="task-16"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-9" class="td-text">
                        <p id="hour-9">09:00</p>
                        <div id="task-div-9" class="task-div">
                            <span><p id="task-9"></p></span>
                        </div>
                    </td>
                    <td id="item-17" class="td-text">
                        <p id="hour-17">17:00</p>
                        <div id="task-div-17" class="task-div">
                            <span><p id="task-17"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-10" class="td-text">
                        <p id="hour-10">10:00</p>
                        <div id="task-div-10" class="task-div">
                            <span><p id="task-10"></p></span>
                        </div>
                    </td>
                    <td id="item-18" class="td-text">
                        <p id="hour-18">18:00</p>
                        <div id="task-div-18" class="task-div">
                            <span><p id="task-18"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-11" class="td-text">
                        <p id="hour-11">11:00</p>
                        <div id="task-div-11" class="task-div">
                            <span><p id="task-11"></p></span>
                        </div>
                    </td>
                    <td id="item-19" class="td-text">
                        <p id="hour-19">19:00</p>
                        <div id="task-div-19" class="task-div">
                            <span><p id="task-19"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-12" class="td-text">
                        <p id="hour-12">12:00</p>
                        <div id="task-div-12" class="task-div">
                            <span><p id="task-12"></p></span>
                        </div>
                    </td>
                    <td id="item-20" class="td-text">
                        <p id="hour-20">20:00</p>
                        <div id="task-div-20" class="task-div">
                            <span><p id="task-20"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-13" class="td-text">
                        <p id="hour-13">13:00</p>
                        <div id="task-div-13" class="task-div">
                            <span><p id="task-13"></p></span>
                        </div>
                    </td>
                    <td id="item-21" class="td-text">
                        <p id="hour-21">21:00</p>
                        <div id="task-div-21" class="task-div">
                            <span><p id="task-21"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-14" class="td-text">
                        <p id="hour-14">14:00</p>
                        <div id="task-div-14" class="task-div">
                            <span><p id="task-14"></p></span>
                        </div>
                    </td>
                    <td id="item-22" class="td-text">
                        <p id="hour-22">22:00</p>
                        <div id="task-div-22" class="task-div">
                            <span><p id="task-22"></p></span>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="list-page">
                <div class="div-btn div-btn-switch" id="switch-booking" (click)="switchSection('booking')"><span>Booking view</span></div>
                <div class="div-btn div-btn-danger"><span [routerLink]="['../resident-view']">Back</span></div>
            </div>
        </div>
    </section>

    <section id="list-booking">
        <div id="list-main">
            <h1></h1>
            <div id="list-span-nav">
                <p class="p-date"></p>
                <span id="calendar-icon"><img id="calendar-icon-img" src="/assets/img/calendar-icon.svg"></span>
                <div id="dp">
                    <div id="dp-close"><span>[ Close ]</span></div>
                    <div id="dp-head">
                        <span id="dp-prev">&lt;</span>
                        <span id="dp-my"></span>
                        <span id="dp-next">&gt;</span>
                    </div>
                    <table id="dp-body" class="table">
                        <tr id="dp-row-th">
                            <th>Su</th><th>Mo</th><th>Tu</th><th>We</th><th>Th</th><th>Fr</th><th>Sa</th>
                        </tr>
                        <tr id="dp-row-1">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr id="dp-row-2">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr id="dp-row-3">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr id="dp-row-4">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr id="dp-row-5">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                        <tr id="dp-row-6">
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <table id="item-list-xs" class="item-list d-sm-none">
                <tr class="item tr-text">
                    <td id="item-7" class="td-text">
                        <p id="hour-7">07:00</p>
                        <div id="task-div-7" class="task-div">
                            <span><p id="task-7"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-8" class="td-text">
                        <p id="hour-8">08:00</p>
                        <div id="task-div-8" class="task-div">
                            <span><p id="task-8"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-9" class="td-text">
                        <p id="hour-9">09:00</p>
                        <div id="task-div-9" class="task-div">
                            <span><p id="task-9"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-10" class="td-text">
                        <p id="hour-10">10:00</p>
                        <div id="task-div-10" class="task-div">
                            <span><p id="task-10"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-11" class="td-text">
                        <p id="hour-11">11:00</p>
                        <div id="task-div-11" class="task-div">
                            <span><p id="task-11"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-12" class="td-text">
                        <p id="hour-12">12:00</p>
                        <div id="task-div-12" class="task-div">
                            <span><p id="task-12"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-13" class="td-text">
                        <p id="hour-13">13:00</p>
                        <div id="task-div-13" class="task-div">
                            <span><p id="task-13"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-14" class="td-text">
                        <p id="hour-14">14:00</p>
                        <div id="task-div-14" class="task-div">
                            <span><p id="task-14"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-15" class="td-text">
                        <p id="hour-15">15:00</p>
                        <div id="task-div-15" class="task-div">
                            <span><p id="task-15"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-16" class="td-text">
                        <p id="hour-16">16:00</p>
                        <div id="task-div-16" class="task-div">
                            <span><p id="task-16"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-17" class="td-text">
                        <p id="hour-17">17:00</p>
                        <div id="task-div-17" class="task-div">
                            <span><p id="task-17"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-18" class="td-text">
                        <p id="hour-18">18:00</p>
                        <div id="task-div-18" class="task-div">
                            <span><p id="task-18"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-19" class="td-text">
                        <p id="hour-19">19:00</p>
                        <div id="task-div-19" class="task-div">
                            <span><p id="task-19"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-20" class="td-text">
                        <p id="hour-20">20:00</p>
                        <div id="task-div-20" class="task-div">
                            <span><p id="task-20"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-21" class="td-text">
                        <p id="hour-21">21:00</p>
                        <div id="task-div-21" class="task-div">
                            <span><p id="task-21"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item tr-text">
                    <td id="item-22" class="td-text">
                        <p id="hour-22">22:00</p>
                        <div id="task-div-22" class="task-div">
                            <span><p id="task-22"></p></span>
                        </div>
                    </td>
                </tr>
            </table>
            
            <table id="item-list-lg" class="item-list d-none d-sm-table">
                <tr class="item">
                    <td id="item-7" class="td-text">
                        <p id="hour-7">07:00</p>
                        <div id="task-div-7" class="task-div">
                            <span><p id="task-7"></p></span>
                        </div>
                    </td>
                    <td id="item-15" class="td-text">
                        <p id="hour-15">15:00</p>
                        <div id="task-div-15" class="task-div">
                            <span><p id="task-15"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-8" class="td-text">
                        <p id="hour-8">08:00</p>
                        <div id="task-div-8" class="task-div">
                            <span><p id="task-8"></p></span>
                        </div>
                    </td>
                    <td id="item-16" class="td-text">
                        <p id="hour-16">16:00</p>
                        <div id="task-div-16" class="task-div">
                            <span><p id="task-16"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-9" class="td-text">
                        <p id="hour-9">09:00</p>
                        <div id="task-div-9" class="task-div">
                            <span><p id="task-9"></p></span>
                        </div>
                    </td>
                    <td id="item-17" class="td-text">
                        <p id="hour-17">17:00</p>
                        <div id="task-div-17" class="task-div">
                            <span><p id="task-17"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-10" class="td-text">
                        <p id="hour-10">10:00</p>
                        <div id="task-div-10" class="task-div">
                            <span><p id="task-10"></p></span>
                        </div>
                    </td>
                    <td id="item-18" class="td-text">
                        <p id="hour-18">18:00</p>
                        <div id="task-div-18" class="task-div">
                            <span><p id="task-18"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-11" class="td-text">
                        <p id="hour-11">11:00</p>
                        <div id="task-div-11" class="task-div">
                            <span><p id="task-11"></p></span>
                        </div>
                    </td>
                    <td id="item-19" class="td-text">
                        <p id="hour-19">19:00</p>
                        <div id="task-div-19" class="task-div">
                            <span><p id="task-19"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-12" class="td-text">
                        <p id="hour-12">12:00</p>
                        <div id="task-div-12" class="task-div">
                            <span><p id="task-12"></p></span>
                        </div>
                    </td>
                    <td id="item-20" class="td-text">
                        <p id="hour-20">20:00</p>
                        <div id="task-div-20" class="task-div">
                            <span><p id="task-20"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-13" class="td-text">
                        <p id="hour-13">13:00</p>
                        <div id="task-div-13" class="task-div">
                            <span><p id="task-13"></p></span>
                        </div>
                    </td>
                    <td id="item-21" class="td-text">
                        <p id="hour-21">21:00</p>
                        <div id="task-div-21" class="task-div">
                            <span><p id="task-21"></p></span>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td id="item-14" class="td-text">
                        <p id="hour-14">14:00</p>
                        <div id="task-div-14" class="task-div">
                            <span><p id="task-14"></p></span>
                        </div>
                    </td>
                    <td id="item-22" class="td-text">
                        <p id="hour-22">22:00</p>
                        <div id="task-div-22" class="task-div">
                            <span><p id="task-22"></p></span>
                        </div>
                    </td>
                </tr>
            </table>

            <div id="list-page">
                <div class="div-btn div-btn-primary"><span (click)="addNewBooking()">Add new booking</span></div>
                <div class="div-btn div-btn-switch" id="switch-weekly" (click)="switchSection('weekly')"><span>Schedule view</span></div>
                <div class="div-btn div-btn-danger"><span [routerLink]="['../resident-view']">Back</span></div>
            </div>
        </div>
    </section>
</section>
