// Import global font with 5 font weights
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700,800&display=swap');

// Global background and font color
body {
    background-color: #313B45;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}
