<form id="user-info">
    <div class="form-group">
        <span id="circle-user-icon"><img src="/assets/img/user-icon.png"></span>
    </div>
    <div class="form-group">
        <strong>ID:</strong>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="staffID" value="A123B" readonly>
    </div>
</form>

<h2>Update staff details</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="role" class="form-control" id="inputRole" placeholder="Role">
    </div>
    <div class="form-group">
        <span (click)="updateDetails()">Save!</span>
    </div>
    <div class="form-group go-back">
        <span [routerLink]="['../staff-view']">Go back</span>
    </div>
</form>
