<form id="user-info">
    <div class="form-group">
        <span id="circle-user-icon"><img src="/assets/img/user-icon.png"></span>
    </div>
    <div class="form-group">
        <strong>ID:</strong>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="contractorID" readonly>
    </div>
</form>

<h2>Update contractor details</h2>

<form>
    <div class="form-group">
        <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputField" placeholder="Field">
    </div>
    <div class="form-group">
        <span (click)="updateContractor()">Save!</span>
    </div>
    <div class="form-group go-back">
        <span [routerLink]="['../contractor-view']">Go back</span>
    </div>
</form>    
